[alias]
  aa = add -A
  st = status
  co = checkout
  count = !git shortlog -sn
[apply]
  whitespace = nowarn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
  gpgsign = false
[diff-so-fancy]
  stripLeadingSymbols = false
[gpg]
	format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[help]
  autocorrect = 1
[hub]
  protocol = https
[init]
  defaultBranch = master
[pull]
  default = current
[push]
  default = simple
[user]
  name = {{ git.full_name }}
  email = {{ git.email }}
  signingkey = {{ git.signingkey }}
