# WARNING!
# Never edit this file directly. It is managed by Ansible.

# Set global envs
export ZSH={{ role_path }}
export ZSH_FILES=$ZSH/files
export ZSH_FUNCTIONS=$ZSH/functions

# Add custom functions to fpath
fpath=($ZSH_FUNCTIONS "${fpath[@]}")

# Load custom functions
for file in $ZSH_FUNCTIONS/*.zsh; do
  autoload -Uz $file
  source $file
done

# Load config files
source $ZSH_FILES/config.zsh

# Local configs
[[ -f $HOME/.zshrc.local ]] && source $HOME/.zshrc.local
